on early-init
    mkdir /firmware 0771 system system
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    wait /dev/block/platform/soc.0/f9824900.sdhci
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice

    wait /dev/block/bootdevice/by-name/cache
    mount ext4 /dev/block/bootdevice/by-name/cache /cache nosuid nodev barrier=1

    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on post-fs
    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on boot
    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 1

on property:ro.crypto.state=encrypted
    start sbinqseecomd

on property:ro.crypto.fs_crypto_blkdev=/dev/block/dm-0
    stop sbinqseecomd

service sbinqseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service thermanager /sbin/thermanager /etc/thermanager.xml
    user root
    group root system
    seclabel u:r:recovery:s0
